/* Colors */
:root {
  --t: #EEE;
  --at: black;
  --at-weight: bold;

  --b0: #121212;
  --b1: #1B1B1B;
  --b2: #242424;
  --b3: #2D2D2D;
  --b4: #363636;

  --p: #bbdefb;
  --a: #eee1b9;
  --h3: #ceabdc;

  --bad: #ef9a9a;
  --good: #a5d6a7;
}
@media (prefers-color-scheme: light) {
  :root {
    --t: black;
    --b0: white;
  }
}

/* Variables */
:root {
  --break1: 36em;
}

/* Defaults */
* {
  color: var(--t);
  background-color: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
}
html {background-color: var(--b0);}
body {
  background-color: var(--b0);
  padding: 2em 0em;
  margin: 0em;
  overflow: auto;
}

button {
  border: none;
  width: max-content;
}
button:hover {
  filter: saturate(1.5) brightness(.8)
}
h1, h2, h3, h4, h5 {
  margin: .25em 0em;
}
h1 {
  color: var(--p);
  background-color: var(--b4);
  font-weight: bold;
  font-size: x-large;
}
h2 {
  color: var(--good);
  background-color: var(--b3);
  font-size: larger;
}
h3 {
  color: var(--h3);
  background-color: var(--b2);
  padding-left: .5em;
}
h4 {
  color: var(--a);
  font-weight: normal;
}
h5 {
  color: var(--t);
}
input[type='number'] {
  width: 3em;
}
p {
  margin: .25em;
}
table {
  width: 100%;
  max-width: var(--break1);
  border: 1px solid var(--b4);
}
th {
  filter: saturate(.5) brightness(1.5);
}
tr:nth-child(odd) {
  filter: saturate(.5) brightness(1.125)
}
ul, ol {
  margin-top: .25em;
}

/* Utilities */
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.descHeight100 * {
  height: 100%;
}
.p {
  background-color: var(--p);
  color: var(--at);
  padding: .25em .5em;
}
.vertCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {flex-wrap: wrap;}
.hidden {display: none;}


.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}
.arrow {
  visibility: hidden;
}
.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
.tip[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}
.tip[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}
.tip[data-popper-placement^='left'] > .arrow {
  right: -4px;
}
.tip[data-popper-placement^='right'] > .arrow {
  left: -4px;
}