/* Colors */
:root {
  --t: #EEE;
  --at: black;
  --at-weight: bold;

  --b0: #111111;
  --b1: #161616;
  --b2: #1A1A1A;
  --b3: #212121;
  --b4: #292929;
  --b5: #303030;
  --b6: #363636;

  --p: #bbdefb;
  --p2: #0d83e4;
  --a: #eee1b9;
  --h3: #ceabdc;
  --link: rgb(143, 158, 255);

  --bad: #ef9a9a;
  --good: #a5d6a7;
}
@media (prefers-color-scheme: light) {
  :root {
    --t: black;
    --b0: white;
  }
}

/* Variables */
:root {
  --break1: 36em;
}

/* Defaults */
* {
  color: var(--t);
  background-color: inherit;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
}
html {background-color: var(--b0);}
body {
  background-color: var(--b0);
  padding: 2em 0em;
  margin: 0em;
  overflow: auto;
}

a {
  color: var(--link);
}
button {
  border: none;
  width: max-content;
}
button:hover {
  filter: saturate(1.5) brightness(.8);
}
h1, h2, h3, h4, h5 {
  margin: .25em 0em 0em;
}
h1 {
  color: var(--p);
  background-color: var(--b1);
  font-weight: bold;
  font-size: x-large;
}
.panel1 {
  background-color: var(--b0);
}
h2 {
  color: var(--good);
  background-color: var(--b2);
  font-size: larger;
}
.panel2 {background-color: var(--b1);}
h3 {
  color: var(--h3);
  background-color: var(--b3);
  padding-left: .5em;
}
.panel3 {background-color: var(--b2);}
h4 {
  color: var(--a);
  background-color: var(--b4);
  font-weight: normal;
  padding-left: .75em;
}
.panel4 {background-color: var(--b3);}
h5 {
  color: var(--t);
  padding-left: 1em;
}
.panel5 {background-color: var(--b4);}
input, textarea {
  background-color: var(--b4);
}
input:hover, textarea:hover {
  background-color: var(--b5);
}
input[type='number'] {
  width: 3em;
}
input[type='checkbox'] {
  accent-color: var(--p2);
  color: var(--at);
}
p {
  margin: .25em;
}
table {
  width: 100%;
  max-width: var(--break1);
  border: 1px solid var(--b6);
  border-collapse: collapse;
}
th {
  filter: saturate(.5) brightness(1.5);
}
tr:nth-child(odd) {
  filter: saturate(.5) brightness(1.125)
}
ul, ol {
  margin-top: .25em;
}

/* Utilities */
.buttons {
  display: flex;
  flex-direction: row;
}
.buttons button {
  height: 100%;
  width: max-content;
}
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card {
  background-color: var(--b3);
  max-width: 36em;
  width: 46%;
  text-align: initial;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: .5em;
}
@media only screen and (max-width: 36rem) {
  .card {
    width: 100%;
  }
}
.card > h2 {
  width: 100%;
}
.cardtainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.descHeight100 * {
  height: 100%;
}
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2em;
}
.p {
  background-color: var(--p);
  color: var(--at);
  padding: .25em .5em;
  font-weight: 600;
}
button.p[disabled], button.p[disabled]:hover {
  filter: saturate(.8);
  color: grey;
}
.selected {
  border: 1px solid var(--p);
}
.vertCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {flex-wrap: wrap;}
.hidden {display: none;}

.D {
  background-color: var(--good);
  color: var(--at);
}
.A {
  background-color: var(--bad);
  color: var(--at);
}
.E {
  background-color: var(--b6);
  color: var(--t);
}


.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}
.arrow {
  visibility: hidden;
}
.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}
.tip[data-popper-placement^='top'] > .arrow {
  bottom: -4px;
}
.tip[data-popper-placement^='bottom'] > .arrow {
  top: -4px;
}
.tip[data-popper-placement^='left'] > .arrow {
  right: -4px;
}
.tip[data-popper-placement^='right'] > .arrow {
  left: -4px;
}